

<p id="notice"><%= notice %></p>

<h1>Domains</h1>
<table id="domain_table" class="table table-bordered" style="margin: 15px;">
  <thead>
    <tr>
      <th style="text-align: center">Name</th>
      <th style="text-align: center">Over all ranking</th>
      <th style="text-align: center">Last update</th>
      <th style="text-align: center">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @domains.each do |domain| %>
      <tr>
        <td><%= domain.name %></td>
        <td><%= domain.rankings.last.try(:rank) %></td>
        <td><%= domain.rankings.last.try(:created_at) %></td>
        <td>
          <%= link_to 'Show', domain , class:"btn btn-success su btn-xs"%>
          <%= link_to 'Destroy', domain, method: :delete,class:"btn btn-danger btn-xs", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Domain', new_domain_path, class:"btn btn-primary su btn-sm" %>
