<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @domain.name %>
</p>

<p>
  <strong>Over all ranking:</strong>
  <%= @domain.rankings.last.try(:rank) %>
</p>

<p>
  <strong>Last update:</strong>
  <%= @domain.rankings.last.try(:created_at) %>
</p>
<%= area_chart @domain.rankings.group_by_hour(:created_at).maximum(:rank) %>

<%= link_to 'Back', domains_path %>
