<!DOCTYPE html>
<html>
  <head>
    <title>New Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <%= render 'layouts/header' %>
  <body align="center">

    <%= yield %>

  </body>
</html>
